.form
  =form_with model: @post, class:"postform", local: true do |f|
    .form__title
      %i.fas.fa-feather.fa-3x
      %h3 文字る
    .form__input
      %ul
        .formpart
          %li
            = f.label :vocab, "言葉"
            %span 必須
          %li
            = f.text_field :vocab, class: 'postformwhat', placeholder:'言葉、又はフレーズを入力'
            - if @post.errors.include?(:vocab)
              .formpart__error
                %h6{:style => "color: red;"}
                  = @post.errors.full_messages_for(:vocab).first
        .formpart
          %li
            = f.label :definition, "意味"
            %span 必須
          %li
            = f.text_area :definition, class: 'postformwhat'
            - if @post.errors.include?(:definition)
              .formpart__error
                %h6{:style => "color: red;"}
                  = @post.errors.full_messages_for(:definition).first
        .formpart  
          %li
            = f.label :example, "例文"
            %span 必須
          %li
            = f.text_area :example, class: 'postformwhat'
            - if @post.errors.include?(:example)
              .formpart__error
                %h6{:style => "color: red;"}
                  = @post.errors.full_messages_for(:example).first
        .formpart  
          %li
            =f.label :image, "画像を選択"
            %span 必須
            = f.label :image, class:"filelabel" do
              %i.fas.fa-image.fa-lg
              = f.file_field :image, class: 'image-post'
            - if @post.errors.include?(:image)
              .formpart__error
                %h6{:style => "color: red;"}
                  = @post.errors.full_messages_for(:image).first
        .formpart  
          %li
            =f.label :tag_list, "タグ(複数の場合は , で分けてください)"
            %span 任意
            = f.text_field :tag_list, value: @post.tag_list.join(','), class: 'postformwhat'
        .formpart
          %li
            = f.submit '投稿する', class: 'postformbtn'