.show-wrapper
  .show
    .show__top
      .show__top--image 
        =image_tag @post.image.url, class: 'vocabimage', size: "500x250"
      .show__top--vocab
        .nextbtn
          - if @post.previous.present?
            = link_to post_path(@post.previous),class:"show-btn" do
              %i.fas.fa-chevron-left
              %br/
              次へ
        =@post.vocab
        .nextbtn
          - if @post.next.present?
            = link_to post_path(@post.next),class:"showbtn" do
              %i.fas.fa-chevron-right
              %br/
              前へ
      .show__top--user-likes
        .show-user
          =link_to user_path(@post.user_id) do
            -# -if @post.user.image.url
            -#   =image_tag @post.user.image.url, class: 'userimage', size: "40x40"
            =@post.user.nickname
          
        .show-likes
          = @post.likes.count
          -if user_signed_in?
            -if current_user.already_liked?(@post)
              = button_to post_like_path(@post), method: :delete, class:"like-btn" do
                %i.fas.fa-heart.my-red
            -else
              = button_to post_likes_path(@post), class:"like-btn" do
                %i.fas.fa-heart.my-red
          -else
            %i.fas.fa-heart.my-red
        -#   %i.far.fa-eye
        -#   =@post.impressions_count
    .show__bottom
      .show__bottom--definition
        %h3 意味:
        %br/
        =@post.definition
      .show__bottom--example
        %h3 例文:
        %br/
        =@post.example
    
      .show__bottom--time
        %i.far.fa-clock
        =@post.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .show__bottom--share
        = link_to "https://twitter.com/share?url=#{ request.url }&text=#{ @post.vocab }を、Twitterでみんなに広めよう！", class: 'share-btn', target: '_blank' do
          %i.fab.fa-twitter 
          Twitterでシェア
      -if user_signed_in? && current_user.id == @post.user_id
        .show__bottom--delete-and-edit
          = link_to edit_post_path(@post.id), class:"editbtn", method: :get do
            %i.fas.fa-edit
            編集
          =link_to post_path(@post.id), class:"deletebtn", method: :delete do
            %i.fas.fa-trash-alt
            削除
      
      .show__bottom--tag
        -# タグ:
        -# .show__tag--each
        -#   = raw(@post.tag_list.map { |t| link_to t, tag_path(t), class: "label label-default" }.join(' '))
.comment
  .comment__logo
    %i.fas.fa-comments.fa-2x
  -if user_signed_in?
    =form_with model:[@post, @comment],class:"comment__form", local: true, id: "new_comment" do |f|
      .commentinput
        = f.text_area :text, placeholder: "コメントを入力"
      .commentbtn
        = f.submit "投稿"
  -else
    %h6 ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  -if @comments
    .comment__index
      .comment__index--number
        %i.fas.fa-comment
        =@comments.count
        件
      .comment__index--box
        -@comments.each do |comment|
          .comment-each
            .comment-each__who
              .comment-each__who--name
                = link_to "/users/#{comment.user_id}" do
                  -# =image_tag comment.user.image.url, class: 'userimage', size: "40x40"
                  =comment.user.nickname
              .comment-each__who--time
                = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
            .comment-each__what
              = comment.text
  -else
    コメントがありません