!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Mojimojiapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .header
        .header__contents
          .appname
            =link_to "/" do
              文字る
          .me
            -if user_signed_in?
              .me__mypage
                =link_to  "/users/#{current_user.id}" do
                  -if current_user.image.url
                    =image_tag current_user.image.url, class:"userimage", size:"40x40"
                  =current_user.nickname
          .search
            = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
              = form.text_field :keyword, class: "search-input"
              = form.submit "検索", class: "search-btn", placeholder:"文字名を入力"
          -if user_signed_in?
            .mojiru
              =link_to new_post_path do
                %i.fas.fa-feather
                投稿
          .sns-links
            .sns-links__facebook
              %i.fab.fa-facebook.fa-lg
            .sns-links__twitter
              %i.fab.fa-twitter.fa-lg
            .sns-links__instagram
              %i.fab.fa-instagram.fa-lg
      .body
        .tag
          .tag__title
            %i.fas.fa-tags
            タグ一覧
          -@tags.each do |tag|
            -unless tag.taggings.count==0
              .tag__box
                = link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: ""
        .body__contents
          = yield
        .user
          .user__title
            %i.fas.fa-users
            人気ユーザー
            -@popular.first(10).each.with_index(1) do |user, index|
              -unless user.nickname == "ゲスト"
                .user__each
                  .user__each--name
                    = index
                    =link_to user_path(user.id) do
                      -if user.image.url
                        =image_tag user.image.url, class: 'userimage', size: "30x30"
                      =user.nickname
              %span
              %br/
        .footer
