!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mojimojiapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .header
        .header__contents
          .appname
            =link_to "/" do
              文字る
          .me
            -if user_signed_in?
              .me__mypage
                =link_to  "/users/#{current_user.id}" do
                  -if current_user.image.url
                    =image_tag current_user.image.url, class:"userimage", size:"40x40"
                  =current_user.nickname
             
              =link_to new_post_path do
                .me__mojiru
                  %i.fas.fa-feather.fa-4x
          .search
            = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
              = form.text_field :keyword, class: "search-input"
              = form.submit "検索", class: "search-btn", placeholder:"文字名を入力"
          .sns-links
            .sns-links__facebook
              %i.fab.fa-facebook.fa-lg
            .sns-links__twitter
              %i.fab.fa-twitter.fa-lg
            .sns-links__instagram
              %i.fab.fa-instagram.fa-lg
      .body
        .body__contents
          = yield
        .footer
